# Users configure this via the Secrets panel in the Studio UI.
GEMINI_API_KEY="MY_GEMINI_API_KEY"
APP_URL="MY_APP_URL"
MONGODB_URI="MY_MONGODB_URI"
VITE_FIREBASE_API_KEY="AIzaSyDT8UKb-VL1w4278eqsOM5EaY7GlVnBEzY"
VITE_FIREBASE_AUTH_DOMAIN="utkristi-colabs.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="utkristi-colabs"
VITE_FIREBASE_STORAGE_BUCKET="utkristi-colabs.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="455739013865"
VITE_FIREBASE_APP_ID="1:455739013865:web:1d4671eedf75accbed4e78"